{% extends 'accounts/base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card p-4 shadow-lg">
            <h3 class="text-center mb-4">Login</h3>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control">
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary w-100 py-2">Login</button>
            </form>
            
            <hr>
            
            <div class="text-center mt-3">
                <p>New User?</p>
                <a href="{% url 'register' %}" class="btn btn-success btn-sm">Create an Account</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}